@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: #00000058;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;        
  background: #0db93b58;    
}

.hidden{
    display: none;
}
input {
    outline: none;
}
.HI{
    height: 30rem;
    overflow-y: auto;
}