@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: #00000058;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;        
  background: #0db93b58; 
     
}

.hidden{
    display: none;
}
.hdn{
    display: none;
}
input {
    outline: none;
}
.HI{
    height: 30rem;
    overflow-y: auto;
}

.animation {
    animation: ani 0.5s ease forwards;
}

@keyframes ani {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animationHidden{
    animation: hidd 0.5s ease forwards;

}

@keyframes hidd {
        from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20);
    }
}